In [ ]:
# -*- coding: utf-8 -*-
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
# implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# EDA for the first time

### URLs
- [Pandas documentation](https://pandas.pydata.org/docs/)
- [Pandas tutorials](https://pandas.pydata.org/pandas-docs/version/0.15/tutorials.html)

### Training on ...
- how to read data
- how to analyze every atribute
- how to analyze relationships between atributes
- how to vizualize data (which kinds of visualizations and their characters, ...)

### EDA questions to answer by analyzing
- Which questions?
- What is the quest of our work?

# Country dataset - Reading from a file using Pandas

In [1]:
import matplotlib
import matplotlib.pylab as pylab
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
filename = "data/countries.csv"
df = pd.read_csv(filename)
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [5]:
df.dtypes

Country                                object
Region                                 object
Population                              int64
Area (sq. mi.)                          int64
Pop. Density (per sq. mi.)             object
Coastline (coast/area ratio)           object
Net migration                          object
Infant mortality (per 1000 births)     object
GDP ($ per capita)                    float64
Literacy (%)                           object
Phones (per 1000)                      object
Arable (%)                             object
Crops (%)                              object
Other (%)                              object
Climate                                object
Birthrate                              object
Deathrate                              object
Agriculture                            object
Industry                               object
Service                                object
dtype: object

**Reading the file again with the proper `decimal` for numbers for this file**

In [ ]:
df = pd.read_csv(filename, decimal=',')
df.head()

In [ ]:
df.info()

In [ ]:
df.Region.unique()

**String cleaning - remove blank spaces**

In [ ]:
df.Region = df.Region.str.strip()
df.Country = df.Country.str.strip()
df.Region.unique()

## Missing value?
**In how many row?**

In [ ]:
df.shape[0] - df.dropna().shape[0]

In [ ]:
df.isnull().sum()

In [ ]:
df.isnull().sum().sum()

In [ ]:
df[df.isnull().any(axis=1)]

## Visualization

In [ ]:
df.info()

In [ ]:
plt.rcParams["figure.figsize"] = (10,5)
sns.boxplot(x='Region', 
            y='GDP ($ per capita)', 
            data=df)
pylab.xticks(rotation=90)

In [ ]:
df.Region.value_counts().plot(kind='bar')

In [ ]:
sns.pairplot(df.dropna()[['Pop. Density (per sq. mi.)', 
                          'GDP ($ per capita)', 
                          'Birthrate', 
                          'Net migration', 
                          'Literacy (%)', 
                          'Phones (per 1000)', 
                          'Deathrate']])

In [ ]:
df['GDP ($ per capita)'].corr(df['Birthrate'])

In [ ]:
sns.scatterplot(x='GDP ($ per capita)', 
                y='Birthrate', 
                data=df)

In [ ]:
df['Phones (per 1000)'].corr(df['Birthrate'])

In [ ]:
sns.scatterplot(x='Phones (per 1000)', 
                y='Birthrate', 
                data=df)

### In IAU, we will deal with supervised learning (uƒçenia s uƒçiteƒæom)
- Regresion  ùëå‚ààùëÖ
- Classification  ùëå‚àà{ùê∂1, ùê∂2,‚Ä¶, ùê∂ùëÅ}

# Obese dataset

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

In [ ]:
df = pd.read_csv("data/obese.csv")
df.info()

I don't like one column's name. It is too long, I'm going to shorten it

In [ ]:
df.rename(columns={'Share of adults who are obese (%)' : 'obesity_rate'}, inplace=True)
df.Entity.unique()

**Visualization**

In [ ]:
af = df[df.Entity == 'Africa']
sns.regplot(x=af.Year, y=af.obesity_rate)

usa = df[df.Entity == 'United States']
sns.regplot(x=usa.Year, y=usa.obesity_rate)

plt.legend(labels=['Afrika', 'United States'])

**Simple Y=f(X)**

In [ ]:
slope, intercept, r_value, p_value, std_err = stats.linregress(af.Year, af.obesity_rate)
line = slope * af.Year + intercept
plt.plot(af.Year, af.obesity_rate, 'o', af.Year, line)

slope, intercept, r_value, p_value, std_err = stats.linregress(usa.Year, usa.obesity_rate)
line = slope * usa.Year + intercept
plt.plot(usa.Year, usa.obesity_rate, 'o', usa.Year, line)

In [ ]:
x = 2300
y = slope * x + intercept
y

# Diamond dataset

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

df = pd.read_csv('data/diamonds.csv')
df.describe()

In [ ]:
df.color.value_counts()

In [ ]:
df.color.value_counts().plot(kind='bar')

In [ ]:
df.color.value_counts().plot(kind='pie')

**Your code:**

# Monitoring dataset

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import scipy.stats as stats

filename = 'data/monitoring.csv'
df = pd.read_csv(filename)
df.describe()

In [ ]:
%%bash
head -n 10 data/monitoring.csv

In [ ]:
data = pd.read_csv(filename, 
                   sep='\t', 
                   header=None, 
                   na_values=[-999, -9999], 
                   index_col=0)
data.head()

**Your code:***